@import "~style/variables";

.driver {
  $block: &;

  @include card();

  overflow: hidden;
  position: relative;
  padding: 0;
  padding-top: 0.5rem;
  width: 100%;
  color: red;

  &__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  &__online {
    color: green;
  }
}
